- name: Configure Web Server
  hosts: all
  become: yes
  tasks:
    - name: Install Nginx on Debian/Ubuntu
      apt:
        name: nginx
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install Nginx on RedHat/Amazon Linux
      yum:
        name: nginx
        state: present
      when: ansible_os_family == "RedHat"

    - name: Start Nginx
      service:
        name: nginx
        state: started
        enabled: yes
