- name: Configure Web Server
  hosts: all
  become: yes
  tasks:
    - name: Install Nginx on Ubuntu
      apt:
        name: nginx
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"
      #dasfdsf
      

