- name: Configure Web Server
  hosts: all
  become: yes
  tasks:
    - name: Install Nginx on Ubuntu
      apt:
        name: nginx
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"
      
    - name: Start Nginx
      service:
        name: nginx
        state: started
        enabled: yes
